@background: #fff;
@main: #0785e2;

html, body {
	background-color:white;
	color: #888;
}
.col {
	font-family: sans-serif;
	margin-top: 10em;
	text-align: center;
}
a, a:visited {
	color: @main;
}
a, a:active {
	color: saturate(@main, 10%);
}
