// Benefits
//
// Styleguide 4.4

ul.benefits
	list-style: none
	padding: 0 !important

	li
		position: relative
		padding: 0 0 0 130px

		&:before
			+absolute(50%, false, false, 0)
			content: ''
			display: block
			width: 120px
			height: 120px
			margin-top: -60px
			background-image: url(#{$image-path}benefits-icons.png)

			+high-dpi
				background-image: url(#{$image-path}benefits-icons-2x.png)
				background-size: 120px 360px


		&.ide:before
			background-position: 0 -120px

		&.opensource:before
			background-position: 0 -240px

	@media (max-width: $screen-xs-max)
		li
			padding: 0

			&:before
				display: none
