// Grid
//
// definitelytyped.org uses the Bootstrap grid system. Visit http://getbootstrap.com/css/#grid
// for more details.
//
// Styleguide 2


// Row
//
// Markup:
// <div class="container">
//   <div class="row {$modifiers}">
//     <div class="col width-6"><p class="box">6 columns</p></div>
//     <div class="col width-6"><p class="box">6 columns</p></div>
//   </div>
// </div>
//
// .no-margin-top        - A row with no margin at the top.
// .no-margin-bottom     - A row with no margin at the bottom.
// .medium-margin-top    - A row with medium margin at the top.
// .medium-margin-bottom - A row with medium margin at the bottom.
// .large-margin-top     - A row with double margin at the top.
// .large-margin-bottom  - A row with double margin at the bottom.
// .table                - A row whose cols behave like table cells and will have equal height.
//
// Styleguide 2.1

.row
	margin-top: 30px
	margin-bottom: 30px

	&.no-margin-top
		margin-top: 0

	&.no-margin-bottom
		margin-bottom: 0

	&.medium-margin-top
		margin-top: 30px

	&.medium-margin-bottom
		margin-bottom: 30px

	&.large-margin-top
		margin-top: 40px

	&.large-margin-bottom
		margin-bottom: 40px

	@media (min-width: $screen-md-min)
		margin-top: 40px
		margin-bottom: 40px

		&.medium-margin-top
			margin-top: 60px

		&.medium-margin-bottom
			margin-bottom: 60px

		&.large-margin-top
			margin-top: 80px

		&.large-margin-bottom
			margin-bottom: 80px

		&.table
			display: table
			width: 100%
			margin-left: 0
			margin-right: 0

			> *
				display: table-cell
				vertical-align: middle
				float: none

			> *:first-child
				padding-left: 0

			> *:last-child
				padding-right: 0


// Columns
//
// Markup:
// <div class="container">
//   <div class="row">
//     <div class="col width-6"><p class="box">6 columns</p></div>
//     <div class="col width-6 {$modifiers}"><p class="box">6 columns</p></div>
//   </div>
// </div>
//
// Styleguide 2.2

@media (min-width: $screen-md-min)
	.medium-padding-left
		padding-left: 40px

	.medium-padding-right
		padding-right: 40px


// Wrappers
//
// Markup:
// <div class="container">
//   <div class="row">
//     <div class="col width-1"><p class="box">1 column</p></div>
//     <div class="col width-2 offset-1"><p class="box">2 columns, offset 1</p></div>
//     <div class="col width-4 offset-4"><p class="box">4 columns, offset 4</p></div>
//   </div>
// </div>
//
// Styleguide 2.3

.accent
	overflow: hidden
	background-color: $color-accent

