// Page
//
// Styleguide 3

// Header
//
// .skyline - Add the skyline background to the header.
//
// Markup:
// <header class="dt-header {{modifier_class}}">
//   <div class="container-fluid">
//     <nav>
//       <a class="dt-logo" href="/">DefinitelyTyped</a>
//       <ul class="dt-menu">
//         <li><a class="current" href="#">Guides</a></li>
//         <li><a href="#">Directory</a></li>
//         <li><a href="#">Pages</a></li>
//       </ul>
//     </nav>
//   </div>
// </header>
//
// Styleguide 3.1

.dt-header
	position: relative
	background-color: $color-main-dark

	&.skyline
		overflow: hidden
		background: $color-main-dark url(#{$image-path}header-stars.gif) center bottom
		min-height: 300px

		&:before
			+absolute(false, 0, 0, 0)
			content: ''
			z-index: 1
			height: 365px
			background: url(#{$image-path}header-skyline.png) center bottom

		.container
			position: relative
			z-index: 2


// Navigation bar
//

.dt-header nav
	+relative()
	z-index: 3
	font-size: 0
	line-height: 60px

	a
		text-decoration: none

	@media (min-width: $screen-sm-min)
		line-height: 80px
		text-align: right

	@media (min-width: $screen-md-min)
		line-height: 100px


// Logo
//

.dt-header .dt-logo
	display: block

	&:before,
	span
		display: inline-block
		vertical-align: middle

	&:before
		+retina-sprite($logo-small-group)
		content: ''
		margin-right: 10px

	span
		@extend .style-raleway-large
		line-height: 1em
		letter-spacing: 1px
		color: $color-white
		font-weight: normal

	@media (min-width: $screen-sm-min)
		float: left

		&:before
			+retina-sprite($logo-medium-group)

	@media (min-width: $screen-md-min)
		&:before
			+retina-sprite($logo-large-group)


// Menu
//

.dt-header .dt-menu
	list-style: none
	margin: -10px 0 0 0
	padding: 0 0 10px 35px
	line-height: normal

	li:before,
	a
		@extend .style-raleway-normal
		display: inline-block
		vertical-align: top

	li
		display: inline

		&:before
			content: '|'
			color: #4c4668

		&:first-child:before
			display: none

	a
		+transition(color 0.2s)
		margin: 0 7px
		color: $color-main-light
		letter-spacing: 1px
		text-transform: uppercase

		&:hover,
		&.current
			color: $color-main

	@media (min-width: $screen-sm-min)
		margin: 0 -15px
		padding: 0
		line-height: inherit

		a
			+relative()
			margin: 0 15px
			vertical-align: top

			&.current:before
				+absolute(0, 0, false, 0)
				content: ''
				height: 6px
				background-color: $color-main


// Jumbotron
//
// Markup:
// <header class="dt-header">
//   <div class="container-fluid">
//     <div class="dt-jumbotron">
//       <h1>The repository for high quality <br><strong>TypeScript type definitions.</strong></h1>
//       <p class="dt-buttons">
//         <a href="#" class="dt-button github">GitHub repository</a>
//         <a href="#" class="dt-button guide">Contribution guide</a>
//       </p>
//     </div>
//   </div>
// </header>
//
// Styleguide 3.1.2

header.dt-header .dt-jumbotron
	padding: 80px 0
	text-align: center

	h1
		@extend .style-raleway-larger
		font-weight: normal
		color: $color-white
		margin: 0 0 30px 0

