// Media queries
//
// <table>
//   <tr><th>Less constant</th><th>Description</th></tr>
//   <tr><td>$high-dpi</td><td>Select devices with high pixel density.</td></tr>
// </table>
//
// Styleguide 1.6

=high-dpi
	@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)
		@content


// Mixins
//
// see https://github.com/JoelSutherland/LESS-Prefixer/blob/master/prefixer.less
//
// Styleguide 1.7

.list-style-none
	list-style: none
	margin: 0
	padding: 0

=position($position, $top:false, $right:false, $bottom:false, $left:false)
	position: $position
	@if $top
		top: $top
	@if $right
		right: $right
	@if $bottom
		bottom: $bottom
	@if $left
		left: $left

=absolute($top:false, $right:false, $bottom:false, $left:false)
	+position(absolute, $top, $right, $bottom, $left)

=relative($top:false, $right:false, $bottom:false, $left:false)
	+position(relative, $top, $right, $bottom, $left)
