// Repository
//
// Styleguide 5.1

.dt-repository-search
	background-color: $color-main-darker
	padding: 0 0 30px 0
	margin-bottom: 1px


.dt-repository-search-form
	display: table
	width: 100%

	.field
		display: table-cell

		&:first-child
			width: 100%

	button,
	input
		height: 45px
		padding: 0
		border: none
		outline: none
		line-height: 45px
		vertical-align: top
		font-size: $size-normal

	button
		background: $color-main-darkest
		color: $color-white
		font-size: 0
		transition: background-color 0.2s

		&:hover
			background: $color-main-dark

	.sword
		display: table
		width: 100%
		margin: 0

		dt, dd
			display: table-cell
			margin: 0

		dt
			width: 100%

		input
			width: 100%
			padding: 0 15px
			background-color: $color-white
			border-radius: 4px 0 0 4px

		button
			padding: 0
			font-size: 0
			color: transparent

			&:before
				+retina-sprite($repository-sm-search-group)
				content: ''
				display: inline-block
				vertical-align: top

		&.has-sword button:before
			+sprite-position($repository-sm-closer)

	.all
		white-space: nowrap
		border-radius: 0 4px 4px 0

		&:before
			+retina-sprite($repository-sm-all-group)
			content: ''
			display: inline-block
			vertical-align: top

	@media (min-width: $screen-md-min)
		.field:first-child
			padding-right: 10px

		button,
		input
			height: 50px
			line-height: 50px
			font-size: $size-lead

		.sword
			button
				border-radius: 0 4px 4px 0

				&:before
					+retina-sprite($repository-md-search-group)

			&.has-sword button:before
				+sprite-position($repository-md-closer)

		.all
			padding-right: 15px
			border-radius: 4px

			&:before
				+retina-sprite($repository-md-all-group)

	@media (min-width: $screen-lg-min)
		button,
		input
			height: 60px
			line-height: 60px
			font-size: $size-large

		.sword
			button
				&:before
					+retina-sprite($repository-lg-search-group)

			&.has-sword button:before
				+sprite-position($repository-lg-closer)

		.all
			&:before
				+retina-sprite($repository-lg-all-group)

.dt-repository-search-results
	margin: 20px 0

	&.empty
		display: none

	@media (min-width: $screen-md-min)
		margin: 40px 0


.dt-repository-search-list
	@extend .list-style-none

	li.list-item
		overflow: hidden
		position: relative
		color: $color-white
		border-top: 2px solid #313d55
		transition: border-top-color 0.2s, height 0.4s

		&:last-child
			border-bottom: 2px solid #313d55

		&:hover,
		&.expanded
			border-top-color: $color-main-darker

			.header
				background: #313d55

			& + li
				border-top-color: $color-main-darker

			&:last-child
				border-bottom-color: $color-main-darker

		&.expanded .details
			position: static
			visibility: visible

		&.expanding .details
			animation: fade-in 0.4s both

		&.collapsing .details
			animation: fade-out 0.4s both

	.header
		+clearfix
		text-align: right
		padding: 15px
		cursor: pointer
		transition: background-color 0.2s

		.title
			@extend .style-raleway-lead
			float: left
			margin: 0
			text-decoration: none

		a
			display: none
			margin: 0 0 0 20px
			color: $color-white
			text-decoration: none
			line-height: 50px
			vertical-align: top

			&:before
				+retina-sprite($repository-download-group)
				content: ''
				display: inline-block
				margin: 0 5px 0 0
				opacity: 0.8
				transition: opacity 0.1s
				vertical-align: text-bottom

			&:hover:before
				opacity: 1

			&.download:before
				+sprite-position($repository-download)

			&.github:before
				+sprite-position($repository-github)

	.details
		position: absolute
		width: 100%
		overflow: hidden
		padding: 0 15px
		visibility: hidden
		box-sizing: border-box
		-moz-box-sizing: border-box
		background: rgba(#313d55, 0.5)

		.row
			margin-top: 20px

		a
			color: lighten($color-main-light, 20%)

	@media (min-width: $screen-md-min)
		.header
			padding: 0 20px

			.title
				line-height: 50px

			a
				display: inline-block

		.details
			padding: 0 20px

	@media (min-width: $screen-lg-min)
		.header
			.title
				line-height: 60px

			a
				line-height: 60px

.dt-repository-search-pagination
	@extend .list-style-none
	margin-top: 20px
	text-align: center
	font-size: 0

	&.empty
		display: none

	li
		display: inline-block

	a,
	span
		@extend .style-default-lead
		display: inline-block
		padding: 4px
		min-width: 30px
		text-decoration: none
		text-align: center

	span
		color: rgba($color-main-light, 0.4)

	a
		color: $color-main-light
		transition: color 0.2s

		&:hover
			color: lighten($color-main-light, 25%)

	.current a
		color: $color-white

	.previous,
	.next
		a,
		span
			font-size: 0
			color: transparent

		span
			opacity: 0.4

		a:before,
		span:before
			+retina-sprite($pagination-next-group)
			content: ''
			display: inline-block

		a:hover:before
			+sprite-position($pagination-next-hover)

	.previous
		a:before,
		span:before
			+sprite-position($pagination-previous)

		a:hover:before
			+sprite-position($pagination-previous-hover)

	@media (min-width: $screen-md-min)
		a,
		span
			min-width: 40px
			padding: 6px
