/*
  SASS variables are information about icon's compiled state, stored under its original file name

  .icon-home
    width: $icon-home-width

  The large array-like variables contain all information about a single icon
  $icon-home: x y offset_x offset_y width height total_width total_height image_path

  At the bottom of this section, we provide information about the spritesheet itself
  $spritesheet: width height image $spritesheet-sprites
  */
$arrow-left-blue-name: 'arrow-left-blue'
$arrow-left-blue-x: 191px
$arrow-left-blue-y: 190px
$arrow-left-blue-offset-x: -191px
$arrow-left-blue-offset-y: -190px
$arrow-left-blue-width: 24px
$arrow-left-blue-height: 16px
$arrow-left-blue-total-width: 258px
$arrow-left-blue-total-height: 238px
$arrow-left-blue-image: '../images/sprites.png'
$arrow-left-blue: (191px, 190px, -191px, -190px, 24px, 16px, 258px, 238px, '../images/sprites.png', 'arrow-left-blue', )
$button-github-name: 'button-github'
$button-github-x: 0px
$button-github-y: 128px
$button-github-offset-x: 0px
$button-github-offset-y: -128px
$button-github-width: 60px
$button-github-height: 60px
$button-github-total-width: 258px
$button-github-total-height: 238px
$button-github-image: '../images/sprites.png'
$button-github: (0px, 128px, 0px, -128px, 60px, 60px, 258px, 238px, '../images/sprites.png', 'button-github', )
$button-guides-name: 'button-guides'
$button-guides-x: 62px
$button-guides-y: 66px
$button-guides-offset-x: -62px
$button-guides-offset-y: -66px
$button-guides-width: 60px
$button-guides-height: 60px
$button-guides-total-width: 258px
$button-guides-total-height: 238px
$button-guides-image: '../images/sprites.png'
$button-guides: (62px, 66px, -62px, -66px, 60px, 60px, 258px, 238px, '../images/sprites.png', 'button-guides', )
$footer-icon-directory-name: 'footer-icon-directory'
$footer-icon-directory-x: 158px
$footer-icon-directory-y: 154px
$footer-icon-directory-offset-x: -158px
$footer-icon-directory-offset-y: -154px
$footer-icon-directory-width: 20px
$footer-icon-directory-height: 20px
$footer-icon-directory-total-width: 258px
$footer-icon-directory-total-height: 238px
$footer-icon-directory-image: '../images/sprites.png'
$footer-icon-directory: (158px, 154px, -158px, -154px, 20px, 20px, 258px, 238px, '../images/sprites.png', 'footer-icon-directory', )
$footer-icon-guides-name: 'footer-icon-guides'
$footer-icon-guides-x: 136px
$footer-icon-guides-y: 154px
$footer-icon-guides-offset-x: -136px
$footer-icon-guides-offset-y: -154px
$footer-icon-guides-width: 20px
$footer-icon-guides-height: 20px
$footer-icon-guides-total-width: 258px
$footer-icon-guides-total-height: 238px
$footer-icon-guides-image: '../images/sprites.png'
$footer-icon-guides: (136px, 154px, -136px, -154px, 20px, 20px, 258px, 238px, '../images/sprites.png', 'footer-icon-guides', )
$footer-icon-pages-name: 'footer-icon-pages'
$footer-icon-pages-x: 114px
$footer-icon-pages-y: 154px
$footer-icon-pages-offset-x: -114px
$footer-icon-pages-offset-y: -154px
$footer-icon-pages-width: 20px
$footer-icon-pages-height: 20px
$footer-icon-pages-total-width: 258px
$footer-icon-pages-total-height: 238px
$footer-icon-pages-image: '../images/sprites.png'
$footer-icon-pages: (114px, 154px, -114px, -154px, 20px, 20px, 258px, 238px, '../images/sprites.png', 'footer-icon-pages', )
$footer-love-name: 'footer-love'
$footer-love-x: 62px
$footer-love-y: 128px
$footer-love-offset-x: -62px
$footer-love-offset-y: -128px
$footer-love-width: 112px
$footer-love-height: 24px
$footer-love-total-width: 258px
$footer-love-total-height: 238px
$footer-love-image: '../images/sprites.png'
$footer-love: (62px, 128px, -62px, -128px, 112px, 24px, 258px, 238px, '../images/sprites.png', 'footer-love', )
$message-name: 'message'
$message-x: 0px
$message-y: 0px
$message-offset-x: 0px
$message-offset-y: 0px
$message-width: 64px
$message-height: 64px
$message-total-width: 258px
$message-total-height: 238px
$message-image: '../images/sprites.png'
$message: (0px, 0px, 0px, 0px, 64px, 64px, 258px, 238px, '../images/sprites.png', 'message', )
$logo-large-name: 'logo-large'
$logo-large-x: 66px
$logo-large-y: 0px
$logo-large-offset-x: -66px
$logo-large-offset-y: 0px
$logo-large-width: 60px
$logo-large-height: 60px
$logo-large-total-width: 258px
$logo-large-total-height: 238px
$logo-large-image: '../images/sprites.png'
$logo-large: (66px, 0px, -66px, 0px, 60px, 60px, 258px, 238px, '../images/sprites.png', 'logo-large', )
$logo-medium-name: 'logo-medium'
$logo-medium-x: 0px
$logo-medium-y: 190px
$logo-medium-offset-x: 0px
$logo-medium-offset-y: -190px
$logo-medium-width: 48px
$logo-medium-height: 48px
$logo-medium-total-width: 258px
$logo-medium-total-height: 238px
$logo-medium-image: '../images/sprites.png'
$logo-medium: (0px, 190px, 0px, -190px, 48px, 48px, 258px, 238px, '../images/sprites.png', 'logo-medium', )
$logo-small-name: 'logo-small'
$logo-small-x: 190px
$logo-small-y: 156px
$logo-small-offset-x: -190px
$logo-small-offset-y: -156px
$logo-small-width: 32px
$logo-small-height: 32px
$logo-small-total-width: 258px
$logo-small-total-height: 238px
$logo-small-image: '../images/sprites.png'
$logo-small: (190px, 156px, -190px, -156px, 32px, 32px, 258px, 238px, '../images/sprites.png', 'logo-small', )
$download-external-name: 'download-external'
$download-external-x: 242px
$download-external-y: 0px
$download-external-offset-x: -242px
$download-external-offset-y: 0px
$download-external-width: 16px
$download-external-height: 16px
$download-external-total-width: 258px
$download-external-total-height: 238px
$download-external-image: '../images/sprites.png'
$download-external: (242px, 0px, -242px, 0px, 16px, 16px, 258px, 238px, '../images/sprites.png', 'download-external', )
$download-link-name: 'download-link'
$download-link-x: 209px
$download-link-y: 208px
$download-link-offset-x: -209px
$download-link-offset-y: -208px
$download-link-width: 16px
$download-link-height: 16px
$download-link-total-width: 258px
$download-link-total-height: 238px
$download-link-image: '../images/sprites.png'
$download-link: (209px, 208px, -209px, -208px, 16px, 16px, 258px, 238px, '../images/sprites.png', 'download-link', )
$pagination-next-hover-name: 'pagination-next-hover'
$pagination-next-hover-x: 191px
$pagination-next-hover-y: 208px
$pagination-next-hover-offset-x: -191px
$pagination-next-hover-offset-y: -208px
$pagination-next-hover-width: 16px
$pagination-next-hover-height: 16px
$pagination-next-hover-total-width: 258px
$pagination-next-hover-total-height: 238px
$pagination-next-hover-image: '../images/sprites.png'
$pagination-next-hover: (191px, 208px, -191px, -208px, 16px, 16px, 258px, 238px, '../images/sprites.png', 'pagination-next-hover', )
$pagination-next-name: 'pagination-next'
$pagination-next-x: 242px
$pagination-next-y: 18px
$pagination-next-offset-x: -242px
$pagination-next-offset-y: -18px
$pagination-next-width: 16px
$pagination-next-height: 16px
$pagination-next-total-width: 258px
$pagination-next-total-height: 238px
$pagination-next-image: '../images/sprites.png'
$pagination-next: (242px, 18px, -242px, -18px, 16px, 16px, 258px, 238px, '../images/sprites.png', 'pagination-next', )
$pagination-previous-hover-name: 'pagination-previous-hover'
$pagination-previous-hover-x: 217px
$pagination-previous-hover-y: 190px
$pagination-previous-hover-offset-x: -217px
$pagination-previous-hover-offset-y: -190px
$pagination-previous-hover-width: 16px
$pagination-previous-hover-height: 16px
$pagination-previous-hover-total-width: 258px
$pagination-previous-hover-total-height: 238px
$pagination-previous-hover-image: '../images/sprites.png'
$pagination-previous-hover: (217px, 190px, -217px, -190px, 16px, 16px, 258px, 238px, '../images/sprites.png', 'pagination-previous-hover', )
$pagination-previous-name: 'pagination-previous'
$pagination-previous-x: 224px
$pagination-previous-y: 156px
$pagination-previous-offset-x: -224px
$pagination-previous-offset-y: -156px
$pagination-previous-width: 16px
$pagination-previous-height: 16px
$pagination-previous-total-width: 258px
$pagination-previous-total-height: 238px
$pagination-previous-image: '../images/sprites.png'
$pagination-previous: (224px, 156px, -224px, -156px, 16px, 16px, 258px, 238px, '../images/sprites.png', 'pagination-previous', )
$repository-download-name: 'repository-download'
$repository-download-x: 62px
$repository-download-y: 154px
$repository-download-offset-x: -62px
$repository-download-offset-y: -154px
$repository-download-width: 24px
$repository-download-height: 24px
$repository-download-total-width: 258px
$repository-download-total-height: 238px
$repository-download-image: '../images/sprites.png'
$repository-download: (62px, 154px, -62px, -154px, 24px, 24px, 258px, 238px, '../images/sprites.png', 'repository-download', )
$repository-github-name: 'repository-github'
$repository-github-x: 88px
$repository-github-y: 154px
$repository-github-offset-x: -88px
$repository-github-offset-y: -154px
$repository-github-width: 24px
$repository-github-height: 24px
$repository-github-total-width: 258px
$repository-github-total-height: 238px
$repository-github-image: '../images/sprites.png'
$repository-github: (88px, 154px, -88px, -154px, 24px, 24px, 258px, 238px, '../images/sprites.png', 'repository-github', )
$repository-lg-all-name: 'repository-lg-all'
$repository-lg-all-x: 0px
$repository-lg-all-y: 66px
$repository-lg-all-offset-x: 0px
$repository-lg-all-offset-y: -66px
$repository-lg-all-width: 60px
$repository-lg-all-height: 60px
$repository-lg-all-total-width: 258px
$repository-lg-all-total-height: 238px
$repository-lg-all-image: '../images/sprites.png'
$repository-lg-all: (0px, 66px, 0px, -66px, 60px, 60px, 258px, 238px, '../images/sprites.png', 'repository-lg-all', )
$repository-lg-closer-name: 'repository-lg-closer'
$repository-lg-closer-x: 128px
$repository-lg-closer-y: 0px
$repository-lg-closer-offset-x: -128px
$repository-lg-closer-offset-y: 0px
$repository-lg-closer-width: 60px
$repository-lg-closer-height: 60px
$repository-lg-closer-total-width: 258px
$repository-lg-closer-total-height: 238px
$repository-lg-closer-image: '../images/sprites.png'
$repository-lg-closer: (128px, 0px, -128px, 0px, 60px, 60px, 258px, 238px, '../images/sprites.png', 'repository-lg-closer', )
$repository-lg-search-name: 'repository-lg-search'
$repository-lg-search-x: 128px
$repository-lg-search-y: 62px
$repository-lg-search-offset-x: -128px
$repository-lg-search-offset-y: -62px
$repository-lg-search-width: 60px
$repository-lg-search-height: 60px
$repository-lg-search-total-width: 258px
$repository-lg-search-total-height: 238px
$repository-lg-search-image: '../images/sprites.png'
$repository-lg-search: (128px, 62px, -128px, -62px, 60px, 60px, 258px, 238px, '../images/sprites.png', 'repository-lg-search', )
$repository-md-all-name: 'repository-md-all'
$repository-md-all-x: 190px
$repository-md-all-y: 52px
$repository-md-all-offset-x: -190px
$repository-md-all-offset-y: -52px
$repository-md-all-width: 50px
$repository-md-all-height: 50px
$repository-md-all-total-width: 258px
$repository-md-all-total-height: 238px
$repository-md-all-image: '../images/sprites.png'
$repository-md-all: (190px, 52px, -190px, -52px, 50px, 50px, 258px, 238px, '../images/sprites.png', 'repository-md-all', )
$repository-md-closer-name: 'repository-md-closer'
$repository-md-closer-x: 190px
$repository-md-closer-y: 0px
$repository-md-closer-offset-x: -190px
$repository-md-closer-offset-y: 0px
$repository-md-closer-width: 50px
$repository-md-closer-height: 50px
$repository-md-closer-total-width: 258px
$repository-md-closer-total-height: 238px
$repository-md-closer-image: '../images/sprites.png'
$repository-md-closer: (190px, 0px, -190px, 0px, 50px, 50px, 258px, 238px, '../images/sprites.png', 'repository-md-closer', )
$repository-md-search-name: 'repository-md-search'
$repository-md-search-x: 190px
$repository-md-search-y: 104px
$repository-md-search-offset-x: -190px
$repository-md-search-offset-y: -104px
$repository-md-search-width: 50px
$repository-md-search-height: 50px
$repository-md-search-total-width: 258px
$repository-md-search-total-height: 238px
$repository-md-search-image: '../images/sprites.png'
$repository-md-search: (190px, 104px, -190px, -104px, 50px, 50px, 258px, 238px, '../images/sprites.png', 'repository-md-search', )
$repository-sm-all-name: 'repository-sm-all'
$repository-sm-all-x: 97px
$repository-sm-all-y: 190px
$repository-sm-all-offset-x: -97px
$repository-sm-all-offset-y: -190px
$repository-sm-all-width: 45px
$repository-sm-all-height: 45px
$repository-sm-all-total-width: 258px
$repository-sm-all-total-height: 238px
$repository-sm-all-image: '../images/sprites.png'
$repository-sm-all: (97px, 190px, -97px, -190px, 45px, 45px, 258px, 238px, '../images/sprites.png', 'repository-sm-all', )
$repository-sm-closer-name: 'repository-sm-closer'
$repository-sm-closer-x: 144px
$repository-sm-closer-y: 190px
$repository-sm-closer-offset-x: -144px
$repository-sm-closer-offset-y: -190px
$repository-sm-closer-width: 45px
$repository-sm-closer-height: 45px
$repository-sm-closer-total-width: 258px
$repository-sm-closer-total-height: 238px
$repository-sm-closer-image: '../images/sprites.png'
$repository-sm-closer: (144px, 190px, -144px, -190px, 45px, 45px, 258px, 238px, '../images/sprites.png', 'repository-sm-closer', )
$repository-sm-search-name: 'repository-sm-search'
$repository-sm-search-x: 50px
$repository-sm-search-y: 190px
$repository-sm-search-offset-x: -50px
$repository-sm-search-offset-y: -190px
$repository-sm-search-width: 45px
$repository-sm-search-height: 45px
$repository-sm-search-total-width: 258px
$repository-sm-search-total-height: 238px
$repository-sm-search-image: '../images/sprites.png'
$repository-sm-search: (50px, 190px, -50px, -190px, 45px, 45px, 258px, 238px, '../images/sprites.png', 'repository-sm-search', )
$arrow-left-blue-2x-name: 'arrow-left-blue-2x'
$arrow-left-blue-2x-x: 382px
$arrow-left-blue-2x-y: 380px
$arrow-left-blue-2x-offset-x: -382px
$arrow-left-blue-2x-offset-y: -380px
$arrow-left-blue-2x-width: 48px
$arrow-left-blue-2x-height: 32px
$arrow-left-blue-2x-total-width: 516px
$arrow-left-blue-2x-total-height: 476px
$arrow-left-blue-2x-image: '../images/sprites-2x.png'
$arrow-left-blue-2x: (382px, 380px, -382px, -380px, 48px, 32px, 516px, 476px, '../images/sprites-2x.png', 'arrow-left-blue-2x', )
$button-github-2x-name: 'button-github-2x'
$button-github-2x-x: 0px
$button-github-2x-y: 256px
$button-github-2x-offset-x: 0px
$button-github-2x-offset-y: -256px
$button-github-2x-width: 120px
$button-github-2x-height: 120px
$button-github-2x-total-width: 516px
$button-github-2x-total-height: 476px
$button-github-2x-image: '../images/sprites-2x.png'
$button-github-2x: (0px, 256px, 0px, -256px, 120px, 120px, 516px, 476px, '../images/sprites-2x.png', 'button-github-2x', )
$button-guides-2x-name: 'button-guides-2x'
$button-guides-2x-x: 124px
$button-guides-2x-y: 132px
$button-guides-2x-offset-x: -124px
$button-guides-2x-offset-y: -132px
$button-guides-2x-width: 120px
$button-guides-2x-height: 120px
$button-guides-2x-total-width: 516px
$button-guides-2x-total-height: 476px
$button-guides-2x-image: '../images/sprites-2x.png'
$button-guides-2x: (124px, 132px, -124px, -132px, 120px, 120px, 516px, 476px, '../images/sprites-2x.png', 'button-guides-2x', )
$footer-icon-directory-2x-name: 'footer-icon-directory-2x'
$footer-icon-directory-2x-x: 316px
$footer-icon-directory-2x-y: 308px
$footer-icon-directory-2x-offset-x: -316px
$footer-icon-directory-2x-offset-y: -308px
$footer-icon-directory-2x-width: 40px
$footer-icon-directory-2x-height: 40px
$footer-icon-directory-2x-total-width: 516px
$footer-icon-directory-2x-total-height: 476px
$footer-icon-directory-2x-image: '../images/sprites-2x.png'
$footer-icon-directory-2x: (316px, 308px, -316px, -308px, 40px, 40px, 516px, 476px, '../images/sprites-2x.png', 'footer-icon-directory-2x', )
$footer-icon-guides-2x-name: 'footer-icon-guides-2x'
$footer-icon-guides-2x-x: 272px
$footer-icon-guides-2x-y: 308px
$footer-icon-guides-2x-offset-x: -272px
$footer-icon-guides-2x-offset-y: -308px
$footer-icon-guides-2x-width: 40px
$footer-icon-guides-2x-height: 40px
$footer-icon-guides-2x-total-width: 516px
$footer-icon-guides-2x-total-height: 476px
$footer-icon-guides-2x-image: '../images/sprites-2x.png'
$footer-icon-guides-2x: (272px, 308px, -272px, -308px, 40px, 40px, 516px, 476px, '../images/sprites-2x.png', 'footer-icon-guides-2x', )
$footer-icon-pages-2x-name: 'footer-icon-pages-2x'
$footer-icon-pages-2x-x: 228px
$footer-icon-pages-2x-y: 308px
$footer-icon-pages-2x-offset-x: -228px
$footer-icon-pages-2x-offset-y: -308px
$footer-icon-pages-2x-width: 40px
$footer-icon-pages-2x-height: 40px
$footer-icon-pages-2x-total-width: 516px
$footer-icon-pages-2x-total-height: 476px
$footer-icon-pages-2x-image: '../images/sprites-2x.png'
$footer-icon-pages-2x: (228px, 308px, -228px, -308px, 40px, 40px, 516px, 476px, '../images/sprites-2x.png', 'footer-icon-pages-2x', )
$footer-love-2x-name: 'footer-love-2x'
$footer-love-2x-x: 124px
$footer-love-2x-y: 256px
$footer-love-2x-offset-x: -124px
$footer-love-2x-offset-y: -256px
$footer-love-2x-width: 224px
$footer-love-2x-height: 48px
$footer-love-2x-total-width: 516px
$footer-love-2x-total-height: 476px
$footer-love-2x-image: '../images/sprites-2x.png'
$footer-love-2x: (124px, 256px, -124px, -256px, 224px, 48px, 516px, 476px, '../images/sprites-2x.png', 'footer-love-2x', )
$message-2x-name: 'message-2x'
$message-2x-x: 0px
$message-2x-y: 0px
$message-2x-offset-x: 0px
$message-2x-offset-y: 0px
$message-2x-width: 128px
$message-2x-height: 128px
$message-2x-total-width: 516px
$message-2x-total-height: 476px
$message-2x-image: '../images/sprites-2x.png'
$message-2x: (0px, 0px, 0px, 0px, 128px, 128px, 516px, 476px, '../images/sprites-2x.png', 'message-2x', )
$logo-large-2x-name: 'logo-large-2x'
$logo-large-2x-x: 132px
$logo-large-2x-y: 0px
$logo-large-2x-offset-x: -132px
$logo-large-2x-offset-y: 0px
$logo-large-2x-width: 120px
$logo-large-2x-height: 120px
$logo-large-2x-total-width: 516px
$logo-large-2x-total-height: 476px
$logo-large-2x-image: '../images/sprites-2x.png'
$logo-large-2x: (132px, 0px, -132px, 0px, 120px, 120px, 516px, 476px, '../images/sprites-2x.png', 'logo-large-2x', )
$logo-medium-2x-name: 'logo-medium-2x'
$logo-medium-2x-x: 0px
$logo-medium-2x-y: 380px
$logo-medium-2x-offset-x: 0px
$logo-medium-2x-offset-y: -380px
$logo-medium-2x-width: 96px
$logo-medium-2x-height: 96px
$logo-medium-2x-total-width: 516px
$logo-medium-2x-total-height: 476px
$logo-medium-2x-image: '../images/sprites-2x.png'
$logo-medium-2x: (0px, 380px, 0px, -380px, 96px, 96px, 516px, 476px, '../images/sprites-2x.png', 'logo-medium-2x', )
$logo-small-2x-name: 'logo-small-2x'
$logo-small-2x-x: 380px
$logo-small-2x-y: 312px
$logo-small-2x-offset-x: -380px
$logo-small-2x-offset-y: -312px
$logo-small-2x-width: 64px
$logo-small-2x-height: 64px
$logo-small-2x-total-width: 516px
$logo-small-2x-total-height: 476px
$logo-small-2x-image: '../images/sprites-2x.png'
$logo-small-2x: (380px, 312px, -380px, -312px, 64px, 64px, 516px, 476px, '../images/sprites-2x.png', 'logo-small-2x', )
$download-external-2x-name: 'download-external-2x'
$download-external-2x-x: 484px
$download-external-2x-y: 0px
$download-external-2x-offset-x: -484px
$download-external-2x-offset-y: 0px
$download-external-2x-width: 32px
$download-external-2x-height: 32px
$download-external-2x-total-width: 516px
$download-external-2x-total-height: 476px
$download-external-2x-image: '../images/sprites-2x.png'
$download-external-2x: (484px, 0px, -484px, 0px, 32px, 32px, 516px, 476px, '../images/sprites-2x.png', 'download-external-2x', )
$download-link-2x-name: 'download-link-2x'
$download-link-2x-x: 418px
$download-link-2x-y: 416px
$download-link-2x-offset-x: -418px
$download-link-2x-offset-y: -416px
$download-link-2x-width: 32px
$download-link-2x-height: 32px
$download-link-2x-total-width: 516px
$download-link-2x-total-height: 476px
$download-link-2x-image: '../images/sprites-2x.png'
$download-link-2x: (418px, 416px, -418px, -416px, 32px, 32px, 516px, 476px, '../images/sprites-2x.png', 'download-link-2x', )
$pagination-next-2x-name: 'pagination-next-2x'
$pagination-next-2x-x: 382px
$pagination-next-2x-y: 416px
$pagination-next-2x-offset-x: -382px
$pagination-next-2x-offset-y: -416px
$pagination-next-2x-width: 32px
$pagination-next-2x-height: 32px
$pagination-next-2x-total-width: 516px
$pagination-next-2x-total-height: 476px
$pagination-next-2x-image: '../images/sprites-2x.png'
$pagination-next-2x: (382px, 416px, -382px, -416px, 32px, 32px, 516px, 476px, '../images/sprites-2x.png', 'pagination-next-2x', )
$pagination-next-hover-2x-name: 'pagination-next-hover-2x'
$pagination-next-hover-2x-x: 484px
$pagination-next-hover-2x-y: 36px
$pagination-next-hover-2x-offset-x: -484px
$pagination-next-hover-2x-offset-y: -36px
$pagination-next-hover-2x-width: 32px
$pagination-next-hover-2x-height: 32px
$pagination-next-hover-2x-total-width: 516px
$pagination-next-hover-2x-total-height: 476px
$pagination-next-hover-2x-image: '../images/sprites-2x.png'
$pagination-next-hover-2x: (484px, 36px, -484px, -36px, 32px, 32px, 516px, 476px, '../images/sprites-2x.png', 'pagination-next-hover-2x', )
$pagination-previous-2x-name: 'pagination-previous-2x'
$pagination-previous-2x-x: 434px
$pagination-previous-2x-y: 380px
$pagination-previous-2x-offset-x: -434px
$pagination-previous-2x-offset-y: -380px
$pagination-previous-2x-width: 32px
$pagination-previous-2x-height: 32px
$pagination-previous-2x-total-width: 516px
$pagination-previous-2x-total-height: 476px
$pagination-previous-2x-image: '../images/sprites-2x.png'
$pagination-previous-2x: (434px, 380px, -434px, -380px, 32px, 32px, 516px, 476px, '../images/sprites-2x.png', 'pagination-previous-2x', )
$pagination-previous-hover-2x-name: 'pagination-previous-hover-2x'
$pagination-previous-hover-2x-x: 448px
$pagination-previous-hover-2x-y: 312px
$pagination-previous-hover-2x-offset-x: -448px
$pagination-previous-hover-2x-offset-y: -312px
$pagination-previous-hover-2x-width: 32px
$pagination-previous-hover-2x-height: 32px
$pagination-previous-hover-2x-total-width: 516px
$pagination-previous-hover-2x-total-height: 476px
$pagination-previous-hover-2x-image: '../images/sprites-2x.png'
$pagination-previous-hover-2x: (448px, 312px, -448px, -312px, 32px, 32px, 516px, 476px, '../images/sprites-2x.png', 'pagination-previous-hover-2x', )
$repository-download-2x-name: 'repository-download-2x'
$repository-download-2x-x: 124px
$repository-download-2x-y: 308px
$repository-download-2x-offset-x: -124px
$repository-download-2x-offset-y: -308px
$repository-download-2x-width: 48px
$repository-download-2x-height: 48px
$repository-download-2x-total-width: 516px
$repository-download-2x-total-height: 476px
$repository-download-2x-image: '../images/sprites-2x.png'
$repository-download-2x: (124px, 308px, -124px, -308px, 48px, 48px, 516px, 476px, '../images/sprites-2x.png', 'repository-download-2x', )
$repository-github-2x-name: 'repository-github-2x'
$repository-github-2x-x: 176px
$repository-github-2x-y: 308px
$repository-github-2x-offset-x: -176px
$repository-github-2x-offset-y: -308px
$repository-github-2x-width: 48px
$repository-github-2x-height: 48px
$repository-github-2x-total-width: 516px
$repository-github-2x-total-height: 476px
$repository-github-2x-image: '../images/sprites-2x.png'
$repository-github-2x: (176px, 308px, -176px, -308px, 48px, 48px, 516px, 476px, '../images/sprites-2x.png', 'repository-github-2x', )
$repository-lg-all-2x-name: 'repository-lg-all-2x'
$repository-lg-all-2x-x: 0px
$repository-lg-all-2x-y: 132px
$repository-lg-all-2x-offset-x: 0px
$repository-lg-all-2x-offset-y: -132px
$repository-lg-all-2x-width: 120px
$repository-lg-all-2x-height: 120px
$repository-lg-all-2x-total-width: 516px
$repository-lg-all-2x-total-height: 476px
$repository-lg-all-2x-image: '../images/sprites-2x.png'
$repository-lg-all-2x: (0px, 132px, 0px, -132px, 120px, 120px, 516px, 476px, '../images/sprites-2x.png', 'repository-lg-all-2x', )
$repository-lg-closer-2x-name: 'repository-lg-closer-2x'
$repository-lg-closer-2x-x: 256px
$repository-lg-closer-2x-y: 0px
$repository-lg-closer-2x-offset-x: -256px
$repository-lg-closer-2x-offset-y: 0px
$repository-lg-closer-2x-width: 120px
$repository-lg-closer-2x-height: 120px
$repository-lg-closer-2x-total-width: 516px
$repository-lg-closer-2x-total-height: 476px
$repository-lg-closer-2x-image: '../images/sprites-2x.png'
$repository-lg-closer-2x: (256px, 0px, -256px, 0px, 120px, 120px, 516px, 476px, '../images/sprites-2x.png', 'repository-lg-closer-2x', )
$repository-lg-search-2x-name: 'repository-lg-search-2x'
$repository-lg-search-2x-x: 256px
$repository-lg-search-2x-y: 124px
$repository-lg-search-2x-offset-x: -256px
$repository-lg-search-2x-offset-y: -124px
$repository-lg-search-2x-width: 120px
$repository-lg-search-2x-height: 120px
$repository-lg-search-2x-total-width: 516px
$repository-lg-search-2x-total-height: 476px
$repository-lg-search-2x-image: '../images/sprites-2x.png'
$repository-lg-search-2x: (256px, 124px, -256px, -124px, 120px, 120px, 516px, 476px, '../images/sprites-2x.png', 'repository-lg-search-2x', )
$repository-md-all-2x-name: 'repository-md-all-2x'
$repository-md-all-2x-x: 380px
$repository-md-all-2x-y: 104px
$repository-md-all-2x-offset-x: -380px
$repository-md-all-2x-offset-y: -104px
$repository-md-all-2x-width: 100px
$repository-md-all-2x-height: 100px
$repository-md-all-2x-total-width: 516px
$repository-md-all-2x-total-height: 476px
$repository-md-all-2x-image: '../images/sprites-2x.png'
$repository-md-all-2x: (380px, 104px, -380px, -104px, 100px, 100px, 516px, 476px, '../images/sprites-2x.png', 'repository-md-all-2x', )
$repository-md-closer-2x-name: 'repository-md-closer-2x'
$repository-md-closer-2x-x: 380px
$repository-md-closer-2x-y: 0px
$repository-md-closer-2x-offset-x: -380px
$repository-md-closer-2x-offset-y: 0px
$repository-md-closer-2x-width: 100px
$repository-md-closer-2x-height: 100px
$repository-md-closer-2x-total-width: 516px
$repository-md-closer-2x-total-height: 476px
$repository-md-closer-2x-image: '../images/sprites-2x.png'
$repository-md-closer-2x: (380px, 0px, -380px, 0px, 100px, 100px, 516px, 476px, '../images/sprites-2x.png', 'repository-md-closer-2x', )
$repository-md-search-2x-name: 'repository-md-search-2x'
$repository-md-search-2x-x: 380px
$repository-md-search-2x-y: 208px
$repository-md-search-2x-offset-x: -380px
$repository-md-search-2x-offset-y: -208px
$repository-md-search-2x-width: 100px
$repository-md-search-2x-height: 100px
$repository-md-search-2x-total-width: 516px
$repository-md-search-2x-total-height: 476px
$repository-md-search-2x-image: '../images/sprites-2x.png'
$repository-md-search-2x: (380px, 208px, -380px, -208px, 100px, 100px, 516px, 476px, '../images/sprites-2x.png', 'repository-md-search-2x', )
$repository-sm-all-2x-name: 'repository-sm-all-2x'
$repository-sm-all-2x-x: 194px
$repository-sm-all-2x-y: 380px
$repository-sm-all-2x-offset-x: -194px
$repository-sm-all-2x-offset-y: -380px
$repository-sm-all-2x-width: 90px
$repository-sm-all-2x-height: 90px
$repository-sm-all-2x-total-width: 516px
$repository-sm-all-2x-total-height: 476px
$repository-sm-all-2x-image: '../images/sprites-2x.png'
$repository-sm-all-2x: (194px, 380px, -194px, -380px, 90px, 90px, 516px, 476px, '../images/sprites-2x.png', 'repository-sm-all-2x', )
$repository-sm-closer-2x-name: 'repository-sm-closer-2x'
$repository-sm-closer-2x-x: 288px
$repository-sm-closer-2x-y: 380px
$repository-sm-closer-2x-offset-x: -288px
$repository-sm-closer-2x-offset-y: -380px
$repository-sm-closer-2x-width: 90px
$repository-sm-closer-2x-height: 90px
$repository-sm-closer-2x-total-width: 516px
$repository-sm-closer-2x-total-height: 476px
$repository-sm-closer-2x-image: '../images/sprites-2x.png'
$repository-sm-closer-2x: (288px, 380px, -288px, -380px, 90px, 90px, 516px, 476px, '../images/sprites-2x.png', 'repository-sm-closer-2x', )
$repository-sm-search-2x-name: 'repository-sm-search-2x'
$repository-sm-search-2x-x: 100px
$repository-sm-search-2x-y: 380px
$repository-sm-search-2x-offset-x: -100px
$repository-sm-search-2x-offset-y: -380px
$repository-sm-search-2x-width: 90px
$repository-sm-search-2x-height: 90px
$repository-sm-search-2x-total-width: 516px
$repository-sm-search-2x-total-height: 476px
$repository-sm-search-2x-image: '../images/sprites-2x.png'
$repository-sm-search-2x: (100px, 380px, -100px, -380px, 90px, 90px, 516px, 476px, '../images/sprites-2x.png', 'repository-sm-search-2x', )
$spritesheet-width: 258px
$spritesheet-height: 238px
$spritesheet-image: '../images/sprites.png'
$spritesheet-sprites: ($arrow-left-blue, $button-github, $button-guides, $footer-icon-directory, $footer-icon-guides, $footer-icon-pages, $footer-love, $message, $logo-large, $logo-medium, $logo-small, $download-external, $download-link, $pagination-next-hover, $pagination-next, $pagination-previous-hover, $pagination-previous, $repository-download, $repository-github, $repository-lg-all, $repository-lg-closer, $repository-lg-search, $repository-md-all, $repository-md-closer, $repository-md-search, $repository-sm-all, $repository-sm-closer, $repository-sm-search, )
$spritesheet: (258px, 238px, '../images/sprites.png', $spritesheet-sprites, )
$retina-spritesheet-width: 516px
$retina-spritesheet-height: 476px
$retina-spritesheet-image: '../images/sprites-2x.png'
$retina-spritesheet-sprites: ($arrow-left-blue-2x, $button-github-2x, $button-guides-2x, $footer-icon-directory-2x, $footer-icon-guides-2x, $footer-icon-pages-2x, $footer-love-2x, $message-2x, $logo-large-2x, $logo-medium-2x, $logo-small-2x, $download-external-2x, $download-link-2x, $pagination-next-2x, $pagination-next-hover-2x, $pagination-previous-2x, $pagination-previous-hover-2x, $repository-download-2x, $repository-github-2x, $repository-lg-all-2x, $repository-lg-closer-2x, $repository-lg-search-2x, $repository-md-all-2x, $repository-md-closer-2x, $repository-md-search-2x, $repository-sm-all-2x, $repository-sm-closer-2x, $repository-sm-search-2x, )
$retina-spritesheet: (516px, 476px, '../images/sprites-2x.png', $retina-spritesheet-sprites, )

/*
  These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

  The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
  */
$arrow-left-blue-group-name: 'arrow-left-blue'
$arrow-left-blue-group: ('arrow-left-blue', $arrow-left-blue, $arrow-left-blue-2x, )
$button-github-group-name: 'button-github'
$button-github-group: ('button-github', $button-github, $button-github-2x, )
$button-guides-group-name: 'button-guides'
$button-guides-group: ('button-guides', $button-guides, $button-guides-2x, )
$footer-icon-directory-group-name: 'footer-icon-directory'
$footer-icon-directory-group: ('footer-icon-directory', $footer-icon-directory, $footer-icon-directory-2x, )
$footer-icon-guides-group-name: 'footer-icon-guides'
$footer-icon-guides-group: ('footer-icon-guides', $footer-icon-guides, $footer-icon-guides-2x, )
$footer-icon-pages-group-name: 'footer-icon-pages'
$footer-icon-pages-group: ('footer-icon-pages', $footer-icon-pages, $footer-icon-pages-2x, )
$footer-love-group-name: 'footer-love'
$footer-love-group: ('footer-love', $footer-love, $footer-love-2x, )
$message-group-name: 'message'
$message-group: ('message', $message, $message-2x, )
$logo-large-group-name: 'logo-large'
$logo-large-group: ('logo-large', $logo-large, $logo-large-2x, )
$logo-medium-group-name: 'logo-medium'
$logo-medium-group: ('logo-medium', $logo-medium, $logo-medium-2x, )
$logo-small-group-name: 'logo-small'
$logo-small-group: ('logo-small', $logo-small, $logo-small-2x, )
$download-external-group-name: 'download-external'
$download-external-group: ('download-external', $download-external, $download-external-2x, )
$download-link-group-name: 'download-link'
$download-link-group: ('download-link', $download-link, $download-link-2x, )
$pagination-next-hover-group-name: 'pagination-next-hover'
$pagination-next-hover-group: ('pagination-next-hover', $pagination-next-hover, $pagination-next-2x, )
$pagination-next-group-name: 'pagination-next'
$pagination-next-group: ('pagination-next', $pagination-next, $pagination-next-hover-2x, )
$pagination-previous-hover-group-name: 'pagination-previous-hover'
$pagination-previous-hover-group: ('pagination-previous-hover', $pagination-previous-hover, $pagination-previous-2x, )
$pagination-previous-group-name: 'pagination-previous'
$pagination-previous-group: ('pagination-previous', $pagination-previous, $pagination-previous-hover-2x, )
$repository-download-group-name: 'repository-download'
$repository-download-group: ('repository-download', $repository-download, $repository-download-2x, )
$repository-github-group-name: 'repository-github'
$repository-github-group: ('repository-github', $repository-github, $repository-github-2x, )
$repository-lg-all-group-name: 'repository-lg-all'
$repository-lg-all-group: ('repository-lg-all', $repository-lg-all, $repository-lg-all-2x, )
$repository-lg-closer-group-name: 'repository-lg-closer'
$repository-lg-closer-group: ('repository-lg-closer', $repository-lg-closer, $repository-lg-closer-2x, )
$repository-lg-search-group-name: 'repository-lg-search'
$repository-lg-search-group: ('repository-lg-search', $repository-lg-search, $repository-lg-search-2x, )
$repository-md-all-group-name: 'repository-md-all'
$repository-md-all-group: ('repository-md-all', $repository-md-all, $repository-md-all-2x, )
$repository-md-closer-group-name: 'repository-md-closer'
$repository-md-closer-group: ('repository-md-closer', $repository-md-closer, $repository-md-closer-2x, )
$repository-md-search-group-name: 'repository-md-search'
$repository-md-search-group: ('repository-md-search', $repository-md-search, $repository-md-search-2x, )
$repository-sm-all-group-name: 'repository-sm-all'
$repository-sm-all-group: ('repository-sm-all', $repository-sm-all, $repository-sm-all-2x, )
$repository-sm-closer-group-name: 'repository-sm-closer'
$repository-sm-closer-group: ('repository-sm-closer', $repository-sm-closer, $repository-sm-closer-2x, )
$repository-sm-search-group-name: 'repository-sm-search'
$repository-sm-search-group: ('repository-sm-search', $repository-sm-search, $repository-sm-search-2x, )
$retina-groups: ($arrow-left-blue-group, $button-github-group, $button-guides-group, $footer-icon-directory-group, $footer-icon-guides-group, $footer-icon-pages-group, $footer-love-group, $message-group, $logo-large-group, $logo-medium-group, $logo-small-group, $download-external-group, $download-link-group, $pagination-next-hover-group, $pagination-next-group, $pagination-previous-hover-group, $pagination-previous-group, $repository-download-group, $repository-github-group, $repository-lg-all-group, $repository-lg-closer-group, $repository-lg-search-group, $repository-md-all-group, $repository-md-closer-group, $repository-md-search-group, $repository-sm-all-group, $repository-sm-closer-group, $repository-sm-search-group, )

/*
  The provided mixins are intended to be used with the array-like variables

  .icon-home
    @include sprite-width($icon-home)

  .icon-email
    @include sprite($icon-email)
  */
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

/*
  The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
    It should be used with a "retina group" variable.

  The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

  $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, )

  .icon-home
    @include retina-sprite($icon-home-group)
  */
@mixin sprite-background-size($sprite)
  $sprite-total-width: nth($sprite, 7)
  $sprite-total-height: nth($sprite, 8)
  background-size: $sprite-total-width $sprite-total-height

@mixin retina-sprite($retina-group)
  $normal-sprite: nth($retina-group, 2)
  $retina-sprite: nth($retina-group, 3)
  @include sprite($normal-sprite)

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
    @include sprite-image($retina-sprite)
    @include sprite-background-size($normal-sprite)

/*
  The `sprites` mixin generates identical output to the CSS template
    but can be overridden inside of SASS

  @include sprites($spritesheet-sprites)
  */
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)

/*
  The `retina-sprites` mixin generates a CSS rule and media query for retina groups
    This yields the same output as CSS retina template but can be overridden in SASS

  @include retina-sprites($retina-groups)
  */
@mixin retina-sprites($retina-groups)
  @each $retina-group in $retina-groups
    $sprite-name: nth($retina-group, 1)
    .#{$sprite-name}
      @include retina-sprite($retina-group)
