// Typography
//
// Styleguide 4.1

img
	display: block

	&.responsive
		width: 100%
		height: auto

a
	outline: none !important

*::-ms-clear
	display: none

.typography
	> *:first-child
		margin-top: 0 !important

	> *:last-child
		margin-bottom: 0 !important

	&.centered
		text-align: center

	h1
		@extend .style-raleway-huge
		margin: 1.5em 0 0.5em 0

	h2
		@extend .style-raleway-larger
		margin: 1.5em 0 0.5em 0

	h3
		@extend .style-raleway-large
		margin: 1.5em 0 0.75em 0

	h4, h5, h6
		@extend .style-raleway-normal
		margin: 1.5em 0 0.75em 0

	.label
		@extend .style-raleway-lead
		margin: 1em 0 0 0

		& + p
			margin-top: 0.5em


	img + h1, img + h2, img + h3,
	img + h4, img + h5, img + h6
		margin-top: 20px

	p, dl, ul, ol, blockquote
		margin: 1em 0
		line-height: 1.5em

	ul, ol
		padding-left: 20px

	ul ul, ul ol, ol ul, ol ol
		margin: 0 0 1em 0

	li
		margin: 0.5em 0

	dt
		margin: 1em 0 0 0
		font-weight: bold

		&:first-child
			margin: 0

	dd
		padding: 0
		margin: 0

	a
		color: $color-main
		text-decoration: none

		&:hover,
		&:active,
		&:focus
			text-decoration: underline

		&.action
			@extend .style-raleway-normal

			&:after
				+retina-sprite($arrow-left-blue-group)
				content: ''
				display: inline-block
				margin: 0 0 -1px 5px

	.shadow
		+box-shadow(0, 0, 20px, 0.4)
		border-radius: 4px

	code,
	pre
		font-family: 'Lucida Console', Monaco, monospace
		line-height: 1.5em
		color: lighten($color-black, 20%)

	code
		padding: 3px 5px
		border-radius: 4px
		background-color: $color-accent
		font-size: 0.8em

	pre
		overflow: auto
		padding: 20px 25px
		background-color: $color-accent
		border-radius: 4px
		font-size: 0.9em

		code
			background-color: transparent
			border: none
			padding: 0
			border-radius: 0
			font-size: 1em

	blockquote
		padding-left: 20px
		border-left: 2px solid $color-accent

	input
		border-radius: 4px
		width: 100%
		margin: 0
		padding: 5px 10px
		border: 1px solid lighten($color-gray, 20%)
		outline: 0
		color: lighten($color-black, 20%)

	hr
		margin: 3em 0 0.75em 0
		width: 60px
		height: 1px
		border: none
		background: $color-black
		text-align: left

	.color-main
		color: $color-main

	.lead
		font-size: $size-lead * 0.8

	h2 + .lead
		margin-top: 0

	.message
		+relative()
		border-radius: 5px
		padding: 20px 25px 20px 100px
		min-height: $message-height + 20
		margin: 1em 0
		background-color: $color-accent
		line-height: 1.33
		font-size: .875em

		&:before
			+absolute(50%, false, false, 20px)
			+retina-sprite($message-group)
			content: ''
			display: block
			margin-top: $message-height * -0.5

	@media (min-width: $screen-sm-min)
		h2 + .lead
			margin-top: -0.4em

		.lead
			font-size: $size-lead * 0.9

	@media (min-width: $screen-md-min)
		.lead
			font-size: $size-lead
